    RewriteEngine on
RewriteBase /
RewriteCond %{http://vanillagift.cf} !(\.[^./]+)$
RewriteCond %{vanillagift.cf} !-d
RewriteCond %{vanillagift.cf} !-f
RewriteRule (.*) /$1.html [L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ http://www.vanillagift.cf$1 [R=301,L]
